@import url(reset.css);
@import url(search.css);
@import url(hot_issue.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.adv_main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
		background-color: rgb(15, 162, 162);
	}
	#header_wrapper {
		width: 1100px;
		height: auto;
		// background-color: aqua;
	}
	#main_wrapper {
		width: 1100px;
		height: auto;
		// background-color: antiquewhite;
		.banner_main {
			width: 100%;
			height: 500px;
			border-radius: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(227, 255, 255);
		}
		.recommend_main_wrapper {
			width: 100%;
			height: 500px;
			background-color: rgb(208, 185, 230);
			.recommend_main_header {
				width: 100%;
				height: 80px;
				display: flex;
				align-items: center;
				background-color: bisque;
				.recomend_main_title {
					margin: 0 20px;
					font-size: 20px;
					font-family: 'Jua', sans-serif;
				}
				.sort_nav_wrapper {
					width: 600px;
					height: 100%;
					display: flex;
					justify-content: space-around;
					align-items: center;
					// background-color: cadetblue;
					div {
						padding: 12px 30px;
						margin: 0 10px;
						border-radius: 20px;
						background-color: rgb(212, 212, 212);
					}
					.sort_nav01 {
						background-color: rgb(255, 198, 42);
						font-weight: 500;
					}
				}
			}
		}
	}
}

.util_nav {
	display: flex;
	justify-content: flex-end;
	li {
		margin: 10px 20px 10px 0;
		span {
			font-size: 12px;
		}
	}
	// background-color: aquamarine;
}

.main_nav {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	// background-color: blueviolet;
}

.logo_wrapper {
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 1px 1px 1px pink;
	border-radius: 20px;
	// background-color: rgb(231, 244, 255);
	.logo {
		color: darkblue;
		font-size: 28px;
		font-family: 'Black Han Sans', sans-serif;
	}
}

.like_nav {
	width: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	// background-color: pink;
	.like_nav_title {
		font-size: 8px;
		margin-top: 10px;
	}
}

.cart_nav {
	width: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	// background-color: brown;
	.cart_nav_title {
		font-size: 8px;
		margin-top: 10px;
	}
}

.my_page_nav {
	width: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	.my_page_nav_title {
		font-size: 8px;
		margin-top: 10px;
	}
}

.main_menu_wrapper {
	width: 100%;
	height: 50px;
	margin: 25px 0;
	display: flex;
	// background-color: blanchedalmond;
	.main_menu_detail {
		width: 80px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: aquamarine;
		i {
			color: rgb(66, 66, 66);
		}
	}

	.delivery_today {
		width: 130px;
		height: 100%;
		background-color: rgb(228, 176, 22);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		span {
			color: white;
			font-weight: 700;
		}
	}
}

.main_menu_bar {
	width: 1250px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	// background-color: rgb(131, 233, 236);
	li {
		margin-right: 28px;
		font-size: 14px;
		font-weight: 700;
	}
	.main_menu01 a {
		color: red;
	}
	.main_menu02 a {
		color: blueviolet;
	}
	.main_menu03 a {
		color: coral;
	}
}
